
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(61, 185, 168);
}

.box{
    text-align: center;
}

.hours, .minutes, .seconds, .amorpm{
    width: 4em;
    height: 4em;
    /* background-color: rebeccapurple; */
    background: transparent;
    padding: 1em;
    margin: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 3px 3px 9px #542682, -3px -3px 9px #3a2251;
}

#hours, #minutes, #seconds, #amorpm{
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.box > h1{
    font-size: 1em;
    color: rgb(7, 89, 23);
}